.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  min-width: 0;
  min-height: 0;
}

.allotmentWrapper {
  width: 100% !important;
  height: 100% !important;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  --focus-border: rgba(38, 82, 37, 0.9);
}

.allotmentWrapper :global(.sash-vertical) {
  width: 5px !important;
}

.allotmentWrapper :global(.sash::before) {
  background: transparent !important;
}

.allotmentWrapper :global(.sash-hover::before),
.allotmentWrapper :global(.sash-active::before) {
  background: rgba(38, 82, 37, 0.9) !important;
}
