.surface {
  max-width: fit-content;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.titleComment {
  font-size: 0.8rem;
}

.body {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 0.2rem;
}

.actions {
  align-self: flex-end;
}
