.map-info-resizer {
  background-color: white;
  border-right: 1px solid rgba(55, 118, 28, 0.5);
  border-left: 1px solid rgba(55, 118, 28, 0.5);
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  resize: horizontal;
  z-index: 1;
}

.map-info-resizer:hover {
  background-color: rgba(38, 82, 37, 0.9);
}

/* @container (width <= 700px) {
  .map-info-resizer {
    cursor: row-resize;
    height: 1px;
  }
  .map-info-resizer:hover {
    height: 8px;
  }
}

@container (width > 700px) {
  .map-info-resizer {
    cursor: col-resize;
    width: 1px;
  }
  .map-info-resizer:hover {
    width: 8px;
  }
} */
