


.card {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.711) !important;
  font-weight: 700;
  color: black !important;
  text-shadow: 0 0 1px white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  hyphens: auto;
}

.card-title {
  font-weight: 800;
  margin-top: 0;
}

.page-title {
  text-align: center;
  font-size: 2em !important;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  font-weight: 700 !important;
  text-shadow:
    2px 2px 3px white,
    -2px -2px 3px white,
    2px -2px 3px white,
    -2px 2px 3px white;
  @media (min-width: 700px) {
    padding-top: 20px;
    padding-bottom: 5;
  }
  @media (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  @media (min-width: 1700px) {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
