# TODO: use gbif, electric and postgresql in the same docker-compose file
# name: ps
services:
  pg:
    image: postgis/postgis:17-3.5
    environment:
      POSTGRES_DB: ps
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${ELECTRIC_DATABASE_PASSWORD}
    ports:
      - 54321:5432
      # make the Postgres database accessible from outside the Docker container on port 5432
      - "5432:5432"
    expose:
      - 5432
    tmpfs:
      - /tmp
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - network
  electric:
    image: electricsql/electric
    networks:
      - network
    environment:
      DATABASE_URL: postgresql://postgres:${ELECTRIC_DATABASE_PASSWORD}@pg/postgres
      PG_PROXY_PASSWORD: ${ELECTRIC_PG_PROXY_PASSWORD}
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - pg
  # gbif:
  #   container_name: ps-gbif-1
  #   build:
  #     context: ./gbif
  #   depends_on:
  #     - pg
  #   networks:
  #     - network
  #   restart: always
  #   env_file:
  #     - ./.env
  #   expose:
  #     - '7000'
  #   ports:
  #     - '7000:7000'
  #   volumes:
  #     - gbif_data:/gbif_data
volumes:
  # gbif_data:
  pg_data:
networks:
  network:
