# TODO: use gbif, electric and postgresql in the same docker-compose file
name: "ps"
services:
  db:
    # specify container name to make it easier to run commands
    container_name: ps_db
    image: db
    # ensure enough shared memory - docker only allows 64mb
    # https://stackoverflow.com/a/56754077/712005
    shm_size: 1g
    build:
      context: ./db
    env_file:
      - ./.env
    ports:
      - 54321:5432
      # make the Postgres database accessible from outside the Docker container on port 5432
      - 5432:5432
    expose:
      - 5432
    tmpfs:
      - /tmp
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  electric:
    container_name: ps_electric
    image: electricsql/electric
    networks:
      - network
    env_file:
      - ./.env
    ports:
      - 3000:3000
    restart: always
    depends_on:
      db:
        condition: service_healthy
  postgrest:
    container_name: postgrest
    image: postgrest/postgrest:latest
    ports:
      - 3001:3000
    # Available environment variables documented here:
    # https://postgrest.org/en/latest/configuration.html#environment-variables
    environment:
      # The standard connection URI format, documented at
      # https://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING
      # - PGRST_DB_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgrest-db:5432/${POSTGRES_DB}
      - PGRST_DB_URI=${DATABASE_URL}
      # The name of which database schema to expose to REST clients
      - PGRST_DB_SCHEMA=${DB_SCHEMA}
      # The database role to use when no client authentication is provided
      - PGRST_DB_ANON_ROLE=${DB_ANON_ROLE}
      - PGRST_SERVER_PORT={PGRST_SERVER_PORT}
      # Overrides the base URL used within the OpenAPI self-documentation hosted at the API root path
      - PGRST_OPENAPI_SERVER_PROXY_URI=http://localhost:3001
    networks:
      - network
    restart: always
    depends_on:
      db:
        condition: service_healthy
  swagger:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8080:8080"
    expose:
      - 8080
    environment:
      API_URL: http://localhost:3001/
    depends_on:
      db:
        condition: service_healthy
  # gbif:
  #   container_name: ps-gbif-1
  #   build:
  #     context: ./gbif
  #   depends_on:
  #     - db
  #   networks:
  #     - network
  #   restart: always
  #   env_file:
  #     - ./.env
  #   expose:
  #     - '7000'
  #   ports:
  #     - '7000:7000'
  #   volumes:
  #     - gbif_data:/gbif_data
volumes:
  # gbif_data:
  pg_data:
networks:
  network:
    driver: bridge
