.map-info-drawer {
  transition-duration: 16.66666ms;
}

@container (width <= 700px) {
  .map-info-drawer {
    width: 100% !important;
    transition-property: height;
    will-change: height;
    margin-top: 4px;
  }
}
@container (width > 700px) {
  .map-info-drawer {
    transition-property: width;
    will-change: width;
    margin-left: 4px;
  }
}
