.map-info-drawer {
  transition-duration: 16.66666ms;
  margin-left: 4px;
}

@container (width <= 700px) {
  .map-info-drawer {
    width: 100%;
    transition-property: height;
    will-change: height;
  }
}
@container (width > 700px) {
  .map-info-drawer {
    transition-property: width;
    will-change: width;
  }
}
