.title {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
}

.layerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none {
  margin: 0;
  padding-left: 10px;
}

.addButton {
  margin-left: 12px;
  margin-top: 8px;
  color: rgb(97, 97, 97);
}

.panel {
  padding-bottom: 8px;
}

.tabList {
  background-color: rgba(103, 216, 101, 0.05);
}

.headerContainer {
  display: flex;
}
