.title {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
}

.layerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none {
  margin: 0;
  padding-left: 10px;
}

.addButton {
  margin-left: 12px;
  margin-top: 8px;
  color: rgb(97, 97, 97);
}

.panel {
  padding-bottom: 8px;
}

.tabList {
  background-color: rgba(103, 216, 101, 0.05);
}

.headerContainer {
  display: flex;
}

.headerToggleIcon {
  color: rgb(164, 164, 164);
}

.headerLabel {
  font-size: var(--fontSizeBase300);
  color: var(--colorNeutralForeground1);
  padding-left: 0.5rem;
  line-height: var(--lineHeightBase300);
}

.deleteButton {
  /* move to the right */
  margin-left: auto;
  margin-right: 0.5rem;
  /* make the button smaller */
  height: 32px;
  align-self: center;
}
