.container {
  padding: 0px -10px;
  padding-left: -10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(103, 216, 101, 0.05);
}

.titleRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(103, 216, 101, 0.15);
}

.title {
  margin: 0;
  font-size: medium;
  /* line-height: 32; */
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
}
