.title {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  background-color: rgb(237, 252, 235);
  font-size: 0.95em;
  margin-left: -10px;
  margin-right: -10px;
  position: sticky;
  top: 14px;
  z-index: 2;
  user-select: none;
}

.children {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
