.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  user-select: none;
}

.textarea {
  flex-grow: 1;

  textarea {
    field-sizing: content;
  }
}

.field {
  width: 100%;
}
