.labelButton {
  margin-left: 2px;
  border: none !important;
  background-color: transparent !important;

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
  }
}

.accordionItem {
  border-top: calc(var(--top-border-width, 1) * 1px) solid rgba(55, 118, 28, 0.5) !important;
  border-bottom: calc(var(--bottom-border-width, 0) * 1px) solid rgba(55, 118, 28, 0.5) !important;
}

.headerOpen {
  background-color: rgba(103, 216, 101, 0.1) !important;
}

.toggleOpen {
  background-color: transparent !important;
}

.accordionOpen {
  --top-border-width: 3;
  --bottom-border-width: 3;
}

.accordionLast {
  --bottom-border-width: 1;
}
