.map-info-drawer {
  transition-duration: 16.66666ms;
  border: none !important;
}

@container (width <= 700px) {
  .map-info-container {
    flex-direction: column;
    bottom: 0;
    width: 100%;
    resize: vertical;
  }
  .map-info-drawer {
    width: 100% !important;
    transition-property: height;
    will-change: height;
    margin-top: 5px;
  }
}
@container (width > 700px) {
  .map-info-container {
    right: 0;
    top: 0;
    resize: horizontal;
  }
  .map-info-drawer {
    transition-property: width;
    will-change: width;
    margin-left: 5px;
  }
}
