.resizer {
  background-color: rgba(103, 216, 101, 0.2);
  position: absolute;
  z-index: 1;

  &:hover {
    background-color: rgba(38, 82, 37, 0.9);
  }

  @container (width <= 700px) {
    left: 0;
    right: 0;
    border-top: 1px solid rgba(55, 118, 28, 0.5);
    border-bottom: 1px solid rgba(55, 118, 28, 0.5);
    height: 5px;
    cursor: row-resize;
    resize: vertical;
  }

  @container (width > 700px) {
    top: 0;
    bottom: 0;
    border-right: 1px solid rgba(55, 118, 28, 0.5);
    border-left: 1px solid rgba(55, 118, 28, 0.5);
    width: 5px;
    cursor: col-resize;
    resize: horizontal;
  }
}
