.component {
  background-color: white;
  outline: 1px solid rgba(74, 20, 140, 1);
  font-size: large;
  padding: 4px;
  cursor: pointer;
}

.active {
  background-color: yellow;
}

.inactive {
  &:hover {
    background-color: rgba(74, 20, 140, 0.1);
  }
}
