.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  /* ensure text always fits in the box */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 72px;
  height: 30px;
}
