.container {
  display: flex;
  align-items: center;
}

.displayPropertyValue {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  font-weight: bold;
}

.mapContainer {
  width: 20px;
  height: 20px;
}
