.container {
  margin: 0;
  margin-right: 8px;
  outline: 1px dotted lightgrey;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  flex-grow: 1;
}

.droppable {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  user-select: none;
}

.title {
  margin: 0;
}

.explainer {
  font-size: x-small;
  margin: 0;
  line-height: 1.3em;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.button {
  margin: 8px;
}
