.container {
  display: flex;
  flex: 1 1 auto;
  column-gap: 5px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.7);
}
