.resizable-area {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  resize: horizontal;
  height: 47px;
  margin-left: -1em;
  background-color: rgba(103, 216, 101, 0.07);
  border-top: 1px solid rgba(55, 118, 28, 0.5);
  border-bottom: 1px solid rgba(55, 118, 28, 0.5);
  align-items: stretch;
  white-space: nowrap;
  overflow: hidden;
}
