.map-layers-container {
  position: relative;
  background-color: transparent !important;
}

.map-layers-drawer {
  transition-duration: 16.66666ms;
  border: none !important;
  height: 100%;
}

@container (width <= 700px) {
  .map-layers-container {
    flex-direction: column;
    bottom: 0;
    width: 100%;
    resize: vertical;
  }
  .map-layers-drawer {
    width: 100% !important;
    transition-property: height;
    will-change: height;
  }
}
@container (width > 700px) {
  .map-layers-container {
    left: 0;
    top: 0;
    height: 100%;
    resize: horizontal;
  }
  .map-layers-drawer {
    transition-property: width;
    will-change: width;
    height: 100% !important;
  }
}
