.homeOutlet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
.container {
  height: 100%;
  overflow: hidden;
}
.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
.linkContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
