.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.file {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.image {
  object-fit: contain;
}

.text {
  align-self: center;
  padding-top: 2em;
}

.object {
  height: 100%;
}
