.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.title {
  padding: 0;
  margin: 0;
}

.noOpsContainer {
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  /* height: calc(100dvh - var(--app-bar-height) - 15px - 23px - 23px); */
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 180px auto auto auto auto auto auto 100px;
  column-gap: 7px;
  > * {
    position: relative;
  }
  overflow: hidden;
}

.heading {
  font-weight: 700;
  position: sticky;
  top: 0;
}
