.titleRow {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 15px 15px 0 15px;
}

.noOpsContainer {
  padding: 0 15px;
}

.container {
  /* min-height: calc(100dvh - var(--app-bar-height)); */
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
}

.outerContainer {
  /* height: calc(100dvh - var(--app-bar-height) - 15px - 23px - 23px); */
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 180px auto auto auto auto auto auto 100px;
  column-gap: 7px;
  > * {
    position: relative;
  }
  overflow: hidden;
}

.heading {
  font-weight: 700;
  position: sticky;
  top: 0;
}

.revertHeading {
  font-weight: 700;
  justify-self: center;
  position: sticky;
  top: 0;
}

.closeIcon {
  margin-right: 5px !important;
}
