.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.title {
  padding: 0;
  margin: 0;
}

.noOpsContainer {
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  /* height: calc(100dvh - var(--app-bar-height) - 15px - 23px - 23px); */
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 180px auto auto auto auto auto auto 80px;
  column-gap: 15px;
  row-gap: 5px;
  > * {
    position: relative;
  }
  overflow: hidden;
}

.heading {
  font-weight: 700;
  position: sticky;
  top: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1000%;
    left: -1000%;
    z-index: 1;
    border-bottom: 1px solid rgba(74, 20, 140, 0.1);
  }
}
