.noOpsContainer {
  padding: 0 15px;
}

.container {
  height: calc(100vh - var(--layout-header-height) - var(--breadcrumbs-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  /* prevent growing or shrinking */
  flex: 0 0 auto;
}

.title {
  padding: 0;
  margin: 0;
}

.gridContainer {
  overflow: auto;
  scrollbar-width: thin;
  flex-grow: 1;
}

.grid {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 180px auto auto auto auto auto auto 80px;
  column-gap: 15px;
  > * {
    position: relative;
  }
}

.heading {
  font-weight: 700;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1000%;
    left: -1000%;
    /* z-index: 1; */
    border-bottom: 1px solid rgba(74, 20, 140, 0.2);
  }
}
