/* to hover and style row, see: https://stackoverflow.com/a/48109479/712005 */
.value {
  padding: 5px 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1000%;
    left: -1000%;
    /* z-index: 1; */
    border-bottom: 1px solid rgba(74, 20, 140, 0.1);
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.icon {
  justify-self: center;
  padding: 5px 0;
}

.revertButton {
  z-index: 4;
}

.pre {
  margin: 0;
}
