.crumb-outer-container {
  position: relative;
  padding-left: 25px;
  /* margin-left: 25px; */
}
.crumb-outer-container::after,
.crumb-outer-container::before {
  background: rgb(255, 255, 255);
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: '';
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 2em;
  z-index: 1;
}

.crumb-outer-container:last-of-type {
  padding-left: 10px;
}

.crumb-outer-container:first-of-type {
  margin-right: 15px;
}

.crumb-container {
  margin-right: -10px;
  position: relative;
  padding-right: 15px;
  border-collapse: collapse;
  transition: background 0.2s linear;
  max-width: 45vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.crumb-container::after,
.crumb-container::before {
  background: rgb(46, 125, 50);
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: '';
  left: calc(100% - 8.3px);
  position: absolute;
  top: 0.5px;
  transition: background 0.2s linear;
  width: 2em;
  z-index: 1;
}

.crumb-container::before {
  background: rgb(255, 255, 255);
  margin-left: 1px;
}

.crumb-label-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  align-content: center;
  transition: opacity 700ms ease-in-out;
  user-select: none;
  color: rgb(36, 36, 36);
}

.crumb-label-link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(55, 118, 28, 0.5);
}

.crumb-label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-content: center;
  transition: opacity 700ms ease-in-out;
  user-select: none;
}
