/* hide the link when it starts causing issues */
.header__title__link {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}
.header {
  padding: 0 20px;
  height: var(--layout-header-height);
  @media (min-width: 700px) {
    padding: 0 25px;
  }
  @media (min-width: 1200px) {
    padding: 0 30px;
  }
}
