.button {
  background-color: rgba(38, 82, 37, 0);
  border: none;
  color: white;

  &:hover {
    filter: brightness(85%);
  }
}

.toggleInactive {
  background-color: rgba(38, 82, 37, 0);
  border: none;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    filter: brightness(75%);
    color: black;
    /* color: white; */
  }
}

.toggleActive {
  background-color: rgba(38, 82, 37, 0);
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: white;

  &:hover {
    filter: brightness(85%);
    color: black;
  }
}

.togglePrevIsActive {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggleNextIsActive {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
