.button {
  background-color: rgba(38, 82, 37, 0) !important;
  border: none !important;
  color: white !important;

  &:hover {
    filter: brightness(85%);
  }
}

.toggleInactive {
  background-color: rgba(38, 82, 37, 0) !important;
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;

  &:hover {
    filter: brightness(75%);
  }
}

.toggleActive {
  background-color: rgba(38, 82, 37, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
  color: white !important;

  &:hover {
    filter: brightness(85%);
    /* color: black; */
  }
}

.togglePrevIsActive {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggleNextIsActive {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mapIcon {
  color: white;
}
