.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
}

.button {
  background-color: rgba(38, 82, 37, 0);
  border: none;
  color: white;
  &:hover {
    filter: brightness(85%);
    background-color: rgba(38, 82, 37, 0);
    color: white;
  }
}

.badge {
  position: relative;
  top: -8px;
  right: 8px;
  color: white;
}
