.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  /* enable scrolling */
  overflow: auto;
  height: 100%;
  width: 100%;
}

.tabList {
  background-color: rgba(103, 216, 101, 0.2);

  @container map (max-width: 699px) {
    padding-left: 34px;
  }
}
