.container {
  position: absolute;
  display: flex;
  z-index: 10000;
  max-width: 100%;
  /* without this when widening the window the sidebar's bottom will show the map behind it */
  background-color: white;

  @container map (width <= 700px) {
    flex-direction: column;
    bottom: 0;
    width: 100%;
    resize: vertical;
  }

  @container map (width > 700px) {
    left: 0;
    top: 0;
    height: 100%;
    resize: horizontal;
  }
}

.innerContainer {
  display: flex;
  height: 100%;
  background-color: white;

  /* container: drawer / inline-size; */
}

.drawer {
  transition-duration: 16.66666ms;
  border: none !important;
  height: 100%;

  @container map (width <= 700px) {
    width: 100% !important;
    transition-property: height;
    will-change: height;
  }

  @container map (width > 700px) {
    transition-property: width;
    will-change: width;
    height: 100% !important;
  }
}

.drawerNarrow {
  height: var(--left-drawer-size) !important;
}

.drawerWide {
  width: var(--left-drawer-size);
}

.toggleButton {
  position: absolute;
  z-index: 100000000;
}

.toggleButtonNarrowOpen {
  top: 6px;
  right: unset;
  left: 5px;
  margin-right: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
}

.toggleButtonNarrowClosed {
  top: -31px;
  right: unset;
  left: 5px;
  margin-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
}

.toggleButtonWideOpen {
  top: 5px;
  right: 0.5px;
  left: unset;
  margin-right: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggleButtonWideClosed {
  top: 5px;
  right: -31.5px;
  left: unset;
  margin-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@container map (width <= 700px) {
  .icon {
    transform: rotate(270deg);
  }
}

@container map (width > 700px) {
  .icon {
    transform: unset;
  }
}

.dragging {
  pointer-events: none;
}
