.headerColor {
  background-color: rgba(103, 216, 101, 0.1) !important;
}

.headerIcon {
  color: rgba(38, 82, 37, 0.9);
}

.headerButton {
  margin-left: 2px;
  border: none !important;
  background-color: transparent !important;
  min-width: auto !important;
  width: 32px !important;
  padding: 0 !important;
  align-self: center;

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
  }
}

.headerIconWidth {
  --fui-AccordionHeader--icon-width: 32px !important;
}

.playIcon {
  font-size: 0.85em;
}

.assigningButton {
  color: black !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.droppableButton {
  color: green !important;
  background-color: rgba(0, 128, 0, 0.1) !important;
}
