.headerColor {
  background-color: rgba(103, 216, 101, 0.1);
}

.headerIcon {
  color: rgba(38, 82, 37, 0.9);
}

.headerButton {
  margin-left: 2px;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
  }
}
