.headerColor {
  background-color: rgba(103, 216, 101, 0.1);
}

.headerIcon {
  color: rgba(38, 82, 37, 0.9);
}

.headerButton {
  margin-left: 2px;
  border: none;
  background-color: transparent;
  min-width: auto;
  width: 32px;
  padding: 0;
  align-self: center;

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
  }
}

.headerIconWidth {
  --fui-AccordionHeader--icon-width: 32px;
}

.playIcon {
  font-size: 0.85em;
}

.assigningButton {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.droppableButton {
  color: green;
  background-color: rgba(0, 128, 0, 0.1);
}
