.row {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
  cursor: move;

  &:hover{
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.label {
  color: rgb(0, 0, 0, 0.54);
  width: 200px;
  min-width: 200px;
  padding: 5px;
  overflow-wrap: break-word;
}

.value {
  padding: 5px;
}
