.tabNumber {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  font-size: 0.65em;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 19px;
}
