.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: auto;
  width: 100%;
  height: 250px;
}

.container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: auto;
  width: 100%;
  max-height: 250px;
}

.table {
  font-size: 0.8em;
  line-height: 1.2em;
  border-collapse: collapse;
}

.head {
  position: sticky;
  top: 0;
  background-color: #e2f7e2;
  font-weight: bold;
  z-index: 1;
}

.headerCell {
  border: 1px solid rgb(210 210 210);
  padding: 2px;
  font-size: 0.8em;
  line-height: 1.2em;
  overflow-wrap: break-word;
  font-weight: bold;
}

.bocyCell {
  border: 1px solid rgb(210 210 210);
  padding: 2px;
  font-size: 0.8em;
  line-height: 1.2em;
  overflow-wrap: anywhere;
}
