.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  padding: 0;
}

.body {
  padding: 0;
  /* enable vertical scrolling */
  overflow-y: auto;
  flex-grow: 1;
}

.noData {
  padding: 10px;
  margin: 0;
}
