.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @container map (max-width: 699px) {
    margin-top: 5px;
  }
  @container map (min-width: 700px) {
    margin-left: 5px;
  }
}

.header {
  padding: 0;
}

.body {
  padding: 0;
  /* enable vertical scrolling */
  overflow-y: auto;
  flex-grow: 1;
}

.noData {
  padding: 10px;
  margin: 0;
}
