.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;

  @container map (max-width: 699px) {
    margin-top: 5px;
  }
  @container map (min-width: 700px) {
    margin-left: 5px;
  }
}

.header {
  padding: 0;
  flex-shrink: 0;
}

.body {
  padding: 0;
  /* enable vertical scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  /* Important: allows flex child to shrink below content size for scrolling */
  min-height: 0;
}

.noData {
  padding: 10px;
  margin: 0;
}
