.container {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0 0;
}

.title {
  position: sticky;
  top: 38px;
  z-index: 9;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  font-weight: bold;
  background-color: white;
  backdrop-filter: blur(8px);
}

/* When there's no group header (single item), stick to top */
.container:first-child .title {
  top: 0;
}

.propertyList {
  display: grid;
  grid-template-columns: minmax(100px, 30%) 1fr;
}

.text {
  padding: 5px;
  padding-right: 10px;
  font-size: 0.9em;
  line-height: 1.4em;
  overflow-wrap: anywhere;
  color: black;
}

.label {
  padding: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 0.9em;
  line-height: 1.4em;
  overflow-wrap: anywhere;
  color: black;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
