.breadcrumbs__crumb {
  background: #fff;
  color: #333;
  outline: none;
  border-top: 1px solid #cbd2d9;
  border-bottom: 1px solid #cbd2d9;
  padding: 0.4em 0 0.4em 1.5em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
  display: flex;
  align-items: center;
}

.breadcrumbs__crumb.link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__crumb:hover:after,
.breadcrumbs__crumb:hover {
  background: #edf1f5;
}

.breadcrumbs__crumb:focus:after,
.breadcrumbs__crumb:focus,
.breadcrumbs__crumb.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__crumb::after,
.breadcrumbs__crumb::before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: '';
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 2em;
  z-index: 1;
}
/* .breadcrumbs__crumb2::after {
  background: white;
  bottom: 0;
  content: url(../images/caret-down.svg);
  left: 100%;
  position: absolute;
  top: 15px;
  transition: background 0.2s linear;
  width: 2em;
  z-index: 2;
} */

.breadcrumbs__crumb::before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__crumb:last-child {
  border-right: none;
}

.breadcrumbs__crumb.is-active,
.breadcrumbs__crumb.is-active:after {
  background: #edf1f5;
}

.breadcrumbs__crumb .icon {
  position: relative;
  font-size: large;
  right: -0.6em;
  margin-left: -10px;
  z-index: 3;
}
