.controls {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.ant-btn-icon svg {
  font-size: var(--ant-button-only-icon-size-lg);
  width: var(--ant-button-only-icon-size-lg);
  height: var(--ant-button-only-icon-size-lg);
}

.imask-input {
  line-height: 20px;
  min-height: 32px;
  padding: 0 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}
.imask-input:focus {
  outline: none;
  border-bottom-color: var(--colorCompoundBrandStroke);
  border-width: 2px;
  transform: scaleX(1);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: var(--curveAccelerateMid);
}
.field-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 10px;
  label {
    color: grey;
  }
  [name='datetime'] {
    width: 190px;
  }
}

.checkboxfield-list {
  display: flex;
  flex-direction: column;
}

[role='separator'] + label,
.checkboxfield-list label:first-child {
  color: grey;
  margin-top: -15px;
  font-weight: 700;
}
