.controls {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.button {
  display: inline-block;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: calc(15vw + 100px);
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  border-radius: 32px;
  text-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 8px 0px;
  background: #1e2123;
  border: 2px solid #229089;
  color: #f9fdff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
}

.item {
  display: block;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  width: calc(30vw - 1.5rem + 200px);
  margin-right: auto;
  margin-left: auto;
  border-radius: 32px;
  border: 1.5px solid #bbb;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 8px 0px;
  color: black;
  font-size: 13px;
  padding: 10px 0;
}

.ant-btn-icon svg {
  font-size: var(--ant-button-only-icon-size-lg);
  width: var(--ant-button-only-icon-size-lg);
  height: var(--ant-button-only-icon-size-lg);
}

.imask-input {
  line-height: 20px;
  min-height: 32px;
  padding: 0 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}
.imask-input:focus {
  outline: none;
  border-bottom-color: var(--colorCompoundBrandStroke);
  border-width: 2px;
  transform: scaleX(1);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: var(--curveAccelerateMid);
}
.field-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 10px;
  label {
    color: grey;
  }
  [name='datetime'] {
    width: 190px;
  }
}

.checkboxfield-list {
  display: flex;
  flex-direction: column;
}

[role='separator'] + label,
.checkboxfield-list label:first-child {
  color: grey;
  margin-top: -15px;
  font-weight: 700;
}
