body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(129, 255, 127);
  display: flex;
}

.header nav ul {
  display: flex;
  list-style: none;
}
.header nav ul li {
  padding: 10px;
}
