body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(129, 255, 127);
  display: flex;
  justify-content: space-between;
}

.header nav ul {
  display: flex;
  column-gap: 10px;
  list-style: none;
}
