/* this being a child class of the button,
it can't be styled using module css */
.fui-Switch__indicator {
  margin-left: -0.5px !important;
  margin-top: 10px !important;
  transform: scale(0.8);
  color: black !important;
  border-color: black !important;
}
