
.container {
  margin: 0;
  outline: 1px dotted lightgrey;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 140px;
}

.title {
  margin: 0;
  padding: 4px;
  padding-bottom: 0;
  user-select: none;
  white-space: normal;
  line-height: 1.2em;
}

.fieldList {
  padding: 4px;
}

.fieldContainer {
  position: relative;
  padding: 4px 7px;
  border: 1px solid lightgrey;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: x-small;
  line-height: 1.2em;
  min-height: 1.6em;
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dividerContainer {
  position: relative;
  padding: 4px 7px;
  border: 1px solid lightgrey;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: x-small;
  line-height: 1.2em;
  min-height: 1.6em;
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  position: relative;
}

.fieldsList {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.fieldHandle {
  color: #989898;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
}

.titleSpan {
  font-weight: normal;
}