.container {
  outline: 1px solid lightgrey;
  border-radius: 4px;
  border-collapse: collapse;
  box-sizing: border-box;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
